
/* services */

.services{
  background-color: #f9f9f9;
}

.service-item{
  width: 50%;
  float: left;
}

.service-item .section-title{
  text-align: left;
}
.service-item .section-line{
  margin: 0 0 40px 4px;
}

.service-item-desc{
  color: #999;
  margin-bottom: 20px;
  line-height: 1.5;
  padding-right: 30px;
}

.service-item-list{
  list-style-type: none;
}

.service-item-list li{
  margin-bottom: 10px;
  color: #999;
}

.service-item-list li i{
  border:1px solid #6195ff;
  border-radius: 50%;
  color: #6195ff;
  width: 30px;
  height: 25px;
  padding: 4px;
  margin-right: 5px;
}

.service-item-img{
  width: 100%;
}

.service-item-bollets{
  list-style: none;
  text-align: center;
}

.service-item-bollets li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e8e8e8;
  display: inline-block;
  margin: 10px 5px;
  transition: background-color 0.5s, width 0.5s;
}

.service-item-bollets li:hover{
  background-color: #6195ff;
  width: 15px;
  border-radius: 50%;
}

.service-item-bollets li.active{
  background-color: #6195ff;
  width: 15px;
}

/* End services */
